:root {
  --primary-color: #fcf5ed;
  --secondary-color: #f1a661;
}
.text-decor-none {
  text-decoration: none;
}
.margin-0 {
  margin: auto;
}
.margin-100 {
  margin-top: 100px;
}

body {
  font-family: "Varela Round", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-weight: 600;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.head {
  text-align: center;
  background-color: var(--primary-color);
  padding: 30px 0px;
  margin-bottom: 50px;
}
.hero-head {
  padding-left: 120px;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  background-color: var(--primary-color);
  padding-bottom: 20px;
  padding-top: 20px;
}
footer div {
  margin: 10px;
}

footer a:hover,
.recipe-collection a:hover {
  text-decoration: underline;
}
.background-white {
  background-color: white;
}
.primary-btn {
  background-color: var(--secondary-color);
  color: white;

  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  padding: 10px 30px;

  margin-bottom: 10px;
  transition: ease-in-out;
}
.primary-btn:hover {
  background-color: white;
  color: var(--secondary-color);
}
.secondary-btn {
  background-color: white;
  color: var(--secondary-color);

  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  padding: 10px 30px;
  transition: ease-in-out;
}
.secondary-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.lunch-and-dinner-about img,
.breakfast-about img,
.homepage-content img,
.snacks-about img {
  object-fit: cover;
  width: 350px;
  height: 40vh;
}

.contact-information {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}
.hero {
  background-color: var(--primary-color);
  padding: 200px 20px 160px 20px;
}

.recipe-collection a {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  size: 28px;

  text-decoration: none;
}

.snack-recipes img {
  width: 450px;
}
ul {
  margin-top: 20px;
  padding: 0px;
}
li {
  list-style: none;
}
hr {
  border: none;
  height: 0px;
  border-top: 2px solid var(--secondary-color);
}
form {
  padding-left: 300px;
}
.emailadress-input {
  width: 75%;
  border: 1px solid var(--secondary-color);
}
.suggestion-input {
  width: 75%;
  height: 300px;
  border: 1px solid var(--secondary-color);
}
@media (max-width: 600px) {
  h1 {
    padding: 0px;

    text-align: left;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}
