:root {
  --primary-color: #fcf5ed;
  --secondary-color: #f1a661;
}
.text-decor-none {
  text-decoration: none;
}
.margin-0 {
  margin: auto;
}
.margin-100 {
  margin-top: 100px;
}
body {
  font-family: "Varela Round", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-weight: 600;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.head {
  text-align: center;
  background-color: var(--primary-color);
  padding: 20px 0px;
}
.hero-head {
  padding-left: 120px;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
footer {
  display: flex;
  justify-content: center;
}
footer {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer div {
  margin: 10px;
}

footer a:hover {
  text-decoration: underline;
}

.hero-primary-btn {
  background-color: var(--secondary-color);
  color: white;

  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  padding: 10px 30px;

  margin-bottom: 10px;
  transition: ease-in-out;
}
.contact-information button,
.hero-secondary-btn {
  background-color: white;
  color: var(--secondary-color);

  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  padding: 10px 30px;
  transition: ease-in-out;
}
.hero-primary-btn:hover {
  background-color: white;
  color: var(--secondary-color);
}
.contact-information button:hover,
.hero-secondary-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}
.lunch-and-dinner-about img,
.breakfast-about img,
.homepage-content img,
.snacks-about img {
  object-fit: cover;
  width: 350px;
  height: 40vh;
}

.homepage-content button {
  display: block;
  background-color: var(--secondary-color);
  color: white;

  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  padding: 10px 30px 10px 20px;

  transition: ease-in-out;
}

.homepage-content button:hover {
  background-color: white;
  color: var(--secondary-color);
  text-decoration: underline;
}
.contact-information {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}
.hero {
  background-color: var(--primary-color);
  padding: 200px 20px 160px 20px;
}

.recipe-collection a {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  size: 28px;

  text-decoration: none;
}
.recipe-collection a:hover {
  text-decoration: underline;
}
.snack-recipes {
  margin-top: 100px;
}
.snack-recipes img {
  width: 450px;
}
ul {
  margin-top: 20px;
  padding: 0px;
}
li {
  list-style: none;
}
hr {
  border: none;
  height: 0px;
  border-top: 2px solid var(--secondary-color);
}
.emailadreess-input {
  width: 120px;
}
@media (max-width: 600px) {
  h1 {
    padding: 0px;

    text-align: left;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}
