:root {
  --primary-color: #f6834f;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0 !important;
  padding: 0;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
